# Question 1
> gcloud --version

Google Cloud SDK 407.0.0
bq 2.0.79
core 2022.10.21
gcloud-crc32c 1.0.0
gsutil 5.15

# Question 2
> terraform apply

var.project
  Your GCP Project ID

  Enter a value: de-bootcamp-366815


Terraform used the selected providers to generate the following execution plan. Resource actions are indicated with the following symbols:
  + create

Terraform will perform the following actions:

  # google_bigquery_dataset.dataset will be created
  + resource "google_bigquery_dataset" "dataset" {
      + creation_time              = (known after apply)
      + dataset_id                 = "trips_data_all"
      + delete_contents_on_destroy = false
      + etag                       = (known after apply)
      + id                         = (known after apply)
      + last_modified_time         = (known after apply)
      + location                   = "europe-west6"
      + project                    = "de-bootcamp-366815"
      + self_link                  = (known after apply)

      + access {
          + domain         = (known after apply)
          + group_by_email = (known after apply)
          + role           = (known after apply)
          + special_group  = (known after apply)
          + user_by_email  = (known after apply)

          + dataset {
              + target_types = (known after apply)

              + dataset {
                  + dataset_id = (known after apply)
                  + project_id = (known after apply)
                }
            }

          + view {
              + dataset_id = (known after apply)
              + project_id = (known after apply)
              + table_id   = (known after apply)
            }
        }
    }

  # google_storage_bucket.data-lake-bucket will be created
  + resource "google_storage_bucket" "data-lake-bucket" {
      + force_destroy               = true
      + id                          = (known after apply)
      + location                    = "EUROPE-WEST6"
      + name                        = "dtc_data_lake_de-bootcamp-366815"
      + project                     = (known after apply)
      + self_link                   = (known after apply)
      + storage_class               = "STANDARD"
      + uniform_bucket_level_access = true
      + url                         = (known after apply)

      + lifecycle_rule {
          + action {
              + type = "Delete"
            }

          + condition {
              + age                   = 30
              + matches_prefix        = []
              + matches_storage_class = []
              + matches_suffix        = []
              + with_state            = (known after apply)
            }
        }

      + versioning {
          + enabled = true
        }
    }

Plan: 2 to add, 0 to change, 0 to destroy.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter a value: yes

google_bigquery_dataset.dataset: Creating...
google_storage_bucket.data-lake-bucket: Creating...
google_bigquery_dataset.dataset: Creation complete after 1s [id=projects/de-bootcamp-366815/datasets/trips_data_all]
google_storage_bucket.data-lake-bucket: Creation complete after 2s [id=dtc_data_lake_de-bootcamp-366815]

Apply complete! Resources: 2 added, 0 changed, 0 destroyed.

In [36]:
from sqlalchemy import create_engine, text
import pandas as pd

In [37]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# Question 3. Count records
How many taxi trips were there on January 15?

Consider only trips that started on January 15.

In [38]:
pd.read_sql("""
SELECT count(index)
FROM yellow_taxi_data
WHERE tpep_pickup_datetime::date = '2021-01-15'
""", engine)

   count
0  53024

# Question 4. Largest tip for each day
Find the largest tip for each day. On which day it was the largest tip in January?

In [39]:
pd.read_sql("""
SELECT
    max(tip_amount) as max_tip_amount,
    tpep_pickup_datetime::date
FROM yellow_taxi_data
WHERE EXTRACT(MONTH from tpep_pickup_datetime) = 1
GROUP BY tpep_pickup_datetime::date
ORDER BY max_tip_amount DESC, tpep_pickup_datetime::date
LIMIT 1;
;
""", engine)

   max_tip_amount tpep_pickup_datetime
0         1140.44           2021-01-20

# Question 5. Most popular destination
What was the most popular destination for passengers picked up in central park on January 14?
Enter the zone name (not id). If the zone name is unknown (missing), write "Unknown"

In [40]:
pd.read_sql(text("""
SELECT
    COALESCE(doz."Zone", 'Unknown'),
    count(*) as total_rides
FROM yellow_taxi_data
INNER JOIN zones puz on yellow_taxi_data."PULocationID" = puz."LocationID"
LEFT JOIN zones doz on yellow_taxi_data."DOLocationID" = doz."LocationID"
WHERE tpep_pickup_datetime::date = '2021-01-14' AND puz."Zone" ilike '%central park%'
GROUP BY 1
ORDER BY total_rides desc
LIMIT 1
"""), engine)

                coalesce  total_rides
0  Upper East Side South           97

# Question 6. Most expensive locations
What's the pickup-dropoff pair with the largest average price for a ride (calculated based on total_amount)?

Enter two zone names separated by a slash

In [41]:
pd.read_sql("""
SELECT
    max(abg_ride_amount.avg) max_total_amount,
    COALESCE(puz."Zone", 'Unknown') || ' / ' || COALESCE(doz."Zone", 'Unknown') route
FROM (
    SELECT avg(total_amount), y."PULocationID" pickup, y."DOLocationID" dropoff
    FROM yellow_taxi_data y
    GROUP BY "PULocationID", "DOLocationID"
) abg_ride_amount
LEFT JOIN zones puz on abg_ride_amount.pickup = puz."LocationID"
LEFT JOIN zones doz on abg_ride_amount.dropoff = doz."LocationID"
GROUP BY route
ORDER BY max_total_amount DESC
LIMIT 1;
""", engine)

   max_total_amount                    route
0            2292.4  Alphabet City / Unknown