In [13]:
# Question 1

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()
spark.version

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/24 12:40:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

'3.3.1'

In [ ]:
# R: '3.3.1'

In [14]:
# Question #2
# This is for fhvhv_tripdata_2021-01

import pandas as pd

In [1]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz

--2022-11-24 12:34:50--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221124T123450Z&X-Amz-Expires=300&X-Amz-Signature=282d40c34ae15132093b759835210d0fb9ca4403a09770fb61d7c7925efd80b5&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2022-11-24 12:34:51--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221124T123450Z&X-Amz-Expires=300&X-Amz-Signature=282d40c34ae15132093b759835210d0fb9ca4403a09770fb61d7c7925efd80b5&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129967421 (124M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-01.csv.gz.1’

fhvhv_tripdata_2021 100%[===================>] 123.95M   303MB/s    in 0.4s

2022-11-24 12:34:51 (303 MB/s) - ‘fhvhv_tripdata_2021-01.csv.gz.1’ saved [129967421/129967421]

In [8]:
!gzip -d ./fhvhv_tripdata_2021-01.csv.gz

gzip: ./fhvhv_tripdata_2021-01.csv.gz: No such file or directory

In [10]:
!rm fhvhv_tripdata_2021-01.csv.gz.1

In [11]:
!ls

03_test.ipynb	      06_spark_sql_big_query.py  cloud.md
04_pyspark.ipynb      07_groupby_join.ipynb	 download_data.sh
05_taxi_schema.ipynb  08_rdds.ipynb		 fhvhv_tripdata_2021-01.csv
06_spark_sql.ipynb    09_spark_gcs.ipynb	 homework.ipynb
06_spark_sql.py       Homework_week_5.ipynb

In [15]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-01.csv')

In [16]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True)])

In [17]:
!head -n 1001 fhvhv_tripdata_2021-01.csv > head.csv

In [18]:
df_pandas = pd.read_csv('head.csv')

In [19]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

In [20]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True)])

In [21]:
from pyspark.sql import types

In [22]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [23]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-01.csv')

In [24]:
df = df.repartition(24)

In [25]:
df.write.parquet('fhvhv/2021/01/')

In [26]:
!ls

03_test.ipynb		   07_groupby_join.ipynb  fhvhv
04_pyspark.ipynb	   08_rdds.ipynb	  fhvhv_tripdata_2021-01.csv
05_taxi_schema.ipynb	   09_spark_gcs.ipynb	  head.csv
06_spark_sql.ipynb	   Homework_week_5.ipynb  homework.ipynb
06_spark_sql.py		   cloud.md
06_spark_sql_big_query.py  download_data.sh

In [28]:
!ls -lh ./fhvhv/2021/01

total 215M
-rw-r--r-- 1 wilson wilson    0 Nov 24 12:42 _SUCCESS
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00000-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00001-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00002-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00003-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00004-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00005-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00006-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00007-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00008-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00009-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00010-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00011-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00012-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00013-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00014-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00015-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00016-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00017-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00018-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00019-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00020-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00021-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00022-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet
-rw-r--r-- 1 wilson wilson 9.0M Nov 24 12:42 part-00023-8a60d427-4159-4336-8d3f-5435ecd5bd19-c000.snappy.parquet

In [29]:
# R: 215M

In [79]:
# Question 3

from pyspark.sql import functions as F

dfpq = spark.read.parquet('./fhvhv/2021/01')

In [80]:
dfpq.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2021-01-03 17:17:21|2021-01-03 17:26:18|         255|          34|   null|
|           HV0003|              B02882|2021-01-05 22:14:07|2021-01-05 22:32:28|         189|         107|   null|
|           HV0003|              B02867|2021-01-02 17:59:55|2021-01-02 18:10:39|          88|         137|   null|
|           HV0003|              B02872|2021-01-02 23:57:54|2021-01-03 00:15:48|         238|         224|   null|
|           HV0003|              B02875|2021-01-06 15:53:13|2021-01-06 16:07:07|         169|         208|   null|
|           HV0003|              B02867|2021-01-07 07:35:24|2021-01-07 07:55:49|          75|          88|   null|
|           HV0003|              B02764|2021-01-07 08:45:12|2021-01-07 08:51:17|         210|         210|   null|
|           HV0003|              B02764|2021-01-02 15:44:26|2021-01-02 16:10:50|         243|          69|   null|
|           HV0003|              B02869|2021-01-04 16:50:28|2021-01-04 16:57:43|         250|         213|   null|
|           HV0003|              B02877|2021-01-03 10:30:34|2021-01-03 10:44:53|          87|          79|   null|
|           HV0003|              B02617|2021-01-03 22:05:20|2021-01-03 22:27:55|          68|         181|   null|
|           HV0003|              B02765|2021-01-04 08:01:02|2021-01-04 08:33:27|          95|         236|   null|
|           HV0003|              B02835|2021-01-02 13:01:10|2021-01-02 13:08:11|         262|         236|   null|
|           HV0005|              B02510|2021-01-04 05:25:51|2021-01-04 05:45:19|         225|         233|   null|
|           HV0003|              B02836|2021-01-06 17:12:27|2021-01-06 17:46:56|         237|          83|   null|
|           HV0005|              B02510|2021-01-05 07:07:33|2021-01-05 07:16:16|         231|          87|   null|
|           HV0005|              B02510|2021-01-06 11:21:01|2021-01-06 11:31:58|          22|          26|   null|
|           HV0003|              B02682|2021-01-04 09:05:18|2021-01-04 09:27:50|         159|          75|   null|
|           HV0003|              B02869|2021-01-06 16:46:47|2021-01-06 17:50:24|         109|         119|   null|
|           HV0003|              B02883|2021-01-06 08:03:47|2021-01-06 08:17:43|         145|         229|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [43]:
dfpq.withColumn('pickup_date', F.to_date(dfpq.pickup_datetime)) \
    .filter("pickup_date = '2021-01-15'")  \
    .count()

443059

In [44]:
# R: 443059

In [45]:
# Question 4

In [56]:
dfpq \
    .withColumn('duration', dfpq.dropoff_datetime.cast('long') - dfpq.pickup_datetime.cast('long')) \
    .withColumn('pickup_date', F.to_date(dfpq.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(1) \
    .show()

+-----------+-------------+
|pickup_date|max(duration)|
+-----------+-------------+
| 2021-01-27|        59143|
+-----------+-------------+

In [57]:
# R: 59143 - from video

In [58]:
# Question 5

In [60]:
dfpq \
    .groupBy('dispatching_base_num') \
        .count() \
    .orderBy('count', ascending=False) \
    .limit(1) \
    .show()

+--------------------+-------+
|dispatching_base_num|  count|
+--------------------+-------+
|              B02510|3091000|
+--------------------+-------+

In [61]:
# R: 1/1

In [62]:
# Question 6

In [63]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2022-11-24 13:32:10--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221124T133210Z&X-Amz-Expires=300&X-Amz-Signature=3145e854436b0d3b82527c33ed24f12be74fc13e3a129874cc04d7f4d36982b0&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2022-11-24 13:32:10--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221124T133210Z&X-Amz-Expires=300&X-Amz-Signature=3145e854436b0d3b82527c33ed24f12be74fc13e3a129874cc04d7f4d36982b0&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-11-24 13:32:10 (79.5 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [65]:
!ls

03_test.ipynb		   07_groupby_join.ipynb  fhvhv
04_pyspark.ipynb	   08_rdds.ipynb	  fhvhv_tripdata_2021-01.csv
05_taxi_schema.ipynb	   09_spark_gcs.ipynb	  head.csv
06_spark_sql.ipynb	   Homework_week_5.ipynb  homework.ipynb
06_spark_sql.py		   cloud.md		  taxi_zone_lookup.csv
06_spark_sql_big_query.py  download_data.sh

In [66]:
!head taxi_zone_lookup.csv

In [102]:
df_zones_csv = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

fhvhv_csv = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-01.csv')

In [104]:
df_zones_csv.show()
fhvhv_csv.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   null|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   null|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   null|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   null|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   null|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   null|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   null|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   null|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   null|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   null|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   null|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   null|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   null|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   null|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   null|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   null|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   null|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   null|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   null|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [106]:
df_zones_csv.write.parquet('zones', mode='overwrite')
fhvhv_csv.write.parquet('fhvhv/2021/01/', mode='overwrite')

In [107]:
dfpq_zones = spark.read.parquet('zones')

In [108]:
dfpq_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [109]:
!ls -lh

total 718M
-rw-rw-r-- 1 wilson wilson 7.7K Nov 24 13:33 03_test.ipynb
-rw-rw-r-- 1 wilson wilson  18K Nov 24 12:12 04_pyspark.ipynb
-rw-rw-r-- 1 wilson wilson  33K Oct 26 18:02 05_taxi_schema.ipynb
-rw-rw-r-- 1 wilson wilson 8.7K Nov 24 13:05 06_spark_sql.ipynb
-rw-rw-r-- 1 wilson wilson 2.5K Oct 26 18:02 06_spark_sql.py
-rw-rw-r-- 1 wilson wilson 2.6K Oct 26 18:02 06_spark_sql_big_query.py
-rw-rw-r-- 1 wilson wilson 7.6K Oct 26 18:02 07_groupby_join.ipynb
-rw-rw-r-- 1 wilson wilson  12K Oct 26 18:02 08_rdds.ipynb
-rw-rw-r-- 1 wilson wilson 4.3K Oct 26 18:02 09_spark_gcs.ipynb
-rw-rw-r-- 1 wilson wilson  53K Nov 24 14:18 Homework_week_5.ipynb
-rw-rw-r-- 1 wilson wilson 2.9K Oct 26 18:02 cloud.md
-rwxrwxr-x 1 wilson wilson  559 Oct 26 18:02 download_data.sh
drwxr-xr-x 3 wilson wilson 4.0K Nov 24 12:42 fhvhv
-rw-rw-r-- 1 wilson wilson 718M Jul 14 16:23 fhvhv_tripdata_2021-01.csv
-rw-rw-r-- 1 wilson wilson  62K Nov 24 12:40 head.csv
-rw-rw-r-- 1 wilson wilson  17K Nov 24 13:22 homework.ipynb
drwxr-xr-x 2 wilson wilson 4.0K Nov 24 13:40 spark-warehouse
-rw-rw-r-- 1 wilson wilson  13K Jul 19 06:49 taxi_zone_lookup.csv
drwxr-xr-x 2 wilson wilson 4.0K Nov 24 14:16 zones

In [110]:
dfpq_zones = spark.read.parquet('zones')
dfpq = spark.read.parquet('./fhvhv/2021/01')

In [111]:
dfpq_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [112]:
dfpq.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02836|2021-01-12 19:45:41|2021-01-12 19:53:08|          90|         114|   null|
|           HV0003|              B02888|2021-01-12 19:17:09|2021-01-12 19:30:38|         247|          94|   null|
|           HV0003|              B02871|2021-01-12 19:12:01|2021-01-12 19:18:34|          61|          35|   null|
|           HV0003|              B02871|2021-01-12 19:27:58|2021-01-12 19:39:28|          35|          35|   null|
|           HV0003|              B02871|2021-01-12 19:41:17|2021-01-12 19:44:46|          35|          35|   null|
|           HV0003|              B02871|2021-01-12 19:49:14|2021-01-12 20:12:36|          35|         217|   null|
|           HV0005|              B02510|2021-01-12 19:27:21|2021-01-12 19:40:31|          72|          76|   null|
|           HV0005|              B02510|2021-01-12 19:43:58|2021-01-12 19:53:36|          77|          76|   null|
|           HV0003|              B02872|2021-01-12 19:08:26|2021-01-12 19:20:11|          22|          67|   null|
|           HV0003|              B02872|2021-01-12 19:49:20|2021-01-12 19:56:14|         227|         228|   null|
|           HV0003|              B02871|2021-01-12 19:14:00|2021-01-12 19:24:38|          90|         170|   null|
|           HV0003|              B02871|2021-01-12 19:29:00|2021-01-12 19:37:33|         170|          79|   null|
|           HV0003|              B02871|2021-01-12 19:48:59|2021-01-12 19:56:24|          79|          79|   null|
|           HV0003|              B02875|2021-01-12 19:17:59|2021-01-12 19:36:33|         244|         167|   null|
|           HV0003|              B02875|2021-01-12 19:40:12|2021-01-12 19:57:01|         167|         119|   null|
|           HV0003|              B02875|2021-01-12 19:58:23|2021-01-12 20:08:28|         119|          42|   null|
|           HV0003|              B02617|2021-01-12 19:27:06|2021-01-12 19:33:25|         162|         137|   null|
|           HV0003|              B02764|2021-01-12 19:11:22|2021-01-12 19:30:14|          44|         115|   null|
|           HV0003|              B02887|2021-01-12 19:06:44|2021-01-12 19:14:00|          49|          17|   null|
|           HV0003|              B02887|2021-01-12 19:22:33|2021-01-12 19:39:36|          17|         177|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [113]:
dfpq.registerTempTable('fhvhv_2021_01')
dfpq_zones.registerTempTable('zones')

In [115]:
spark.sql("""
SELECT
    CONCAT(pul.Zone, ' / ', dol.Zone) AS pu_do_pair,
    COUNT(1)
FROM 
    fhvhv_2021_01 fhv LEFT JOIN zones pul ON fhv.PULocationID = pul.LocationID
                      LEFT JOIN zones dol ON fhv.DOLocationID = dol.LocationID
GROUP BY 
    1
ORDER BY
    2 DESC
LIMIT 5;
""").take(5)

[Row(pu_do_pair='East New York / East New York', count(1)=47637),
 Row(pu_do_pair='Borough Park / Borough Park', count(1)=30920),
 Row(pu_do_pair='Canarsie / Canarsie', count(1)=29897),
 Row(pu_do_pair='Crown Heights North / Crown Heights North', count(1)=28851),
 Row(pu_do_pair='Central Harlem North / Central Harlem North', count(1)=17379)]

In [ ]:
# R: East New York / East New York, count(1)=47637