In [13]:
import pyspark

In [14]:
pyspark.__file__

'/usr/local/lib/python3.10/site-packages/pyspark/__init__.py'

In [15]:
from pyspark.sql import SparkSession

In [16]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .config("spark.driver.bindAddress","127.0.01") \
    .getOrCreate()

In [18]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-11-22 13:06:55--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.198.96, 54.231.136.104, 52.217.82.206, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.198.96|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    in 0,02s

2022-11-22 13:06:55 (503 KB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [19]:
!head taxi+_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [20]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [21]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [22]:
df.write.parquet('zones')

In [23]:
!ls -lh

total 352
-rw-r--r--  1 joaovasconceloscontractor  staff    25K Nov 22 13:05 03_test.ipynb
-rw-r--r--  1 joaovasconceloscontractor  staff    18K Oct 24 17:27 04_pyspark.ipynb
-rw-r--r--  1 joaovasconceloscontractor  staff    32K Oct 24 17:27 05_taxi_schema.ipynb
-rw-r--r--  1 joaovasconceloscontractor  staff   8.6K Oct 24 17:27 06_spark_sql.ipynb
-rw-r--r--  1 joaovasconceloscontractor  staff   2.5K Oct 24 17:27 06_spark_sql.py
-rw-r--r--  1 joaovasconceloscontractor  staff   2.6K Oct 24 17:27 06_spark_sql_big_query.py
-rw-r--r--  1 joaovasconceloscontractor  staff   7.5K Oct 24 17:27 07_groupby_join.ipynb
-rw-r--r--  1 joaovasconceloscontractor  staff    11K Oct 24 17:27 08_rdds.ipynb
-rw-r--r--  1 joaovasconceloscontractor  staff   4.3K Oct 24 17:27 09_spark_gcs.ipynb
-rw-r--r--  1 joaovasconceloscontractor  staff   2.9K Oct 24 17:27 cloud.md
-rwxr-xr-x  1 joaovasconceloscontractor  staff   559B Oct 24 17:27 download_data.sh
-rw-r--r--  1 joaovasconceloscontractor  staff    16K Oct 24 17:27 homework.ipynb
-rw-r--r--  1 joaovasconceloscontractor  staff    12K Aug 17  2016 taxi+_zone_lookup.csv
drwxr-xr-x  6 joaovasconceloscontractor  staff   192B Nov 22 13:07 zones