In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [1]:
!gcloud --version

Google Cloud SDK 407.0.0
bq 2.0.79
core 2022.10.21
gcloud-crc32c 1.0.0
gsutil 5.15

In [3]:
!cd ../2_docker_sql && docker-compose up -d pgdatabase

[+] Running 1/0
 ⠿ Network 2_docker_sql_default         Created                            0.0s
 ⠋ Container 2_docker_sql-pgdatabase-1  Creating                           0.0s
[+] Running 1/2
 ⠿ Network 2_docker_sql_default         Created                            0.0s
 ⠿ Container 2_docker_sql-pgdatabase-1  Starting                           0.1s
[+] Running 1/2
 ⠿ Network 2_docker_sql_default         Created                            0.0s
 ⠿ Container 2_docker_sql-pgdatabase-1  Starting                           0.2s
[+] Running 1/2
 ⠿ Network 2_docker_sql_default         Created                            0.0s
 ⠿ Container 2_docker_sql-pgdatabase-1  Starting                           0.3s
[+] Running 2/2
 ⠿ Network 2_docker_sql_default         Created                            0.0s
 ⠿ Container 2_docker_sql-pgdatabase-1  Started                            0.4s

In [15]:
!cd ../2_docker_sql && python ingest_data.py \
  --user=stefan \
  --password=stefan\
  --host=localhost \
  --port=5432 \
  --db=ny_taxi \
  --table_name=yellow_taxi_trips \
  --url="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

--2022-10-30 20:26:25--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221030%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221030T192626Z&X-Amz-Expires=300&X-Amz-Signature=dfa9f69ea5c32a6333963fec36f31a4eb7f818ed8d5f9fb73e06a232b93e1146&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2022-10-30 20:26:26--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20221030%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221030T192626Z&X-Amz-Expires=300&X-Amz-Signature=dfa9f69ea5c32a6333963fec36f31a4eb7f818ed8d5f9fb73e06a232b93e1146&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: ‘output.csv.gz’

output.csv.gz       100%[===================>]  23.87M  6.95MB/s    in 3.6s

2022-10-30 20:26:30 (6.61 MB/s) - ‘output.csv.gz’ saved [25031880/25031880]

inserted another chunk, took 8.233 second
inserted another chunk, took 8.061 second
inserted another chunk, took 7.992 second
inserted another chunk, took 7.934 second
inserted another chunk, took 7.784 second
inserted another chunk, took 8.012 second
inserted another chunk, took 7.933 second
inserted another chunk, took 8.137 second
inserted another chunk, took 8.101 second
inserted another chunk, took 8.200 second
inserted another chunk, took 7.767 second
/Users/stefankocev/Projects/loka/data-engineering-zoomcamp/week_1_basics_n_setup/2_docker_sql/ingest_data.py:50: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)
inserted another chunk, took 7.662 second
inserted another chunk, took 4.967 second
Finished ingesting data into the postgres database

In [ ]:
!cd ../2_docker_sql && docker-compose up -d pgadmin

In [3]:
engine = create_engine("postgresql://stefan:stefan@localhost:5432/ny_taxi")

In [24]:
!PGPASSWORD=stefan psql -h localhost -p 5432 -U stefan -d ny_taxi -c "SELECT count(*) FROM public.yellow_taxi_trips WHERE tpep_pickup_datetime::DATE = '2021-01-15'::DATE;"

 count
-------
 53024
(1 row)

In [5]:
# number of trips on Jan 15
pd.read_sql("SELECT count(*) FROM public.yellow_taxi_trips WHERE tpep_pickup_datetime::DATE = '2021-01-15'::DATE;", engine)

   count
0  53024

In [7]:
# max tip per day in January 
pd.read_sql(
"""
SELECT DATE_TRUNC ('day', tpep_pickup_datetime) AS d, max(tip_amount)
FROM public.yellow_taxi_trips WHERE tpep_pickup_datetime BETWEEN '2021-01-01'::DATE AND '2021-01-31'::DATE
GROUP BY d ORDER by d;
""", engine)

            d      max
0  2021-01-01   158.00
1  2021-01-02   109.15
2  2021-01-03   369.40
3  2021-01-04   696.48
4  2021-01-05   151.00
5  2021-01-06   100.00
6  2021-01-07    95.00
7  2021-01-08   100.00
8  2021-01-09   230.00
9  2021-01-10    91.00
10 2021-01-11   145.00
11 2021-01-12   192.61
12 2021-01-13   100.00
13 2021-01-14    95.00
14 2021-01-15    99.00
15 2021-01-16   100.00
16 2021-01-17    65.00
17 2021-01-18    90.00
18 2021-01-19   200.80
19 2021-01-20  1140.44
20 2021-01-21   166.00
21 2021-01-22    92.55
22 2021-01-23   100.00
23 2021-01-24   122.00
24 2021-01-25   100.16
25 2021-01-26   250.00
26 2021-01-27   100.00
27 2021-01-28    77.14
28 2021-01-29    75.00
29 2021-01-30   199.12

In [10]:
# max tip per day in January
pd.read_sql(
"""
SELECT DATE_TRUNC ('day', tpep_pickup_datetime) AS d, max(tip_amount) as max_tip
FROM public.yellow_taxi_trips WHERE tpep_pickup_datetime BETWEEN '2021-01-01'::DATE AND '2021-01-31'::DATE
GROUP BY d ORDER by max_tip DESC LIMIT 1;
""", engine)

           d  max_tip
0 2021-01-20  1140.44

In [4]:
# max tip per day in January v2
pd.read_sql(
"""
SELECT DATE_TRUNC ('day', tpep_pickup_datetime) AS d, max(tip_amount) as max_tip
FROM public.yellow_taxi_trips WHERE tpep_pickup_datetime BETWEEN '2021-01-01'::DATE AND '2021-01-31'::DATE
GROUP BY d
HAVING max(tip_amount)=(SELECT max(tip_amount) as max_tip
FROM public.yellow_taxi_trips WHERE tpep_pickup_datetime BETWEEN '2021-01-01'::DATE AND '2021-01-31'::DATE)
""", engine)

           d  max_tip
0 2021-01-20  1140.44

In [13]:
!PGPASSWORD=stefan psql -h localhost -p 5432 -U stefan -d ny_taxi -c "EXPLAIN ANALYZE SELECT DATE_TRUNC ('day', tpep_pickup_datetime) AS d, max(tip_amount) as max_tip FROM public.yellow_taxi_trips WHERE tpep_pickup_datetime BETWEEN '2021-01-01'::DATE AND '2021-01-31'::DATE GROUP BY d ORDER by max_tip DESC LIMIT 1;"

                                                                   QUERY PLAN
------------------------------------------------------------------------------------------------------------------------------------------------
 Limit  (cost=165125.61..165125.61 rows=1 width=16) (actual time=527.230..527.233 rows=1 loops=1)
   ->  Sort  (cost=165125.61..166931.92 rows=722526 width=16) (actual time=520.087..520.088 rows=1 loops=1)
         Sort Key: (max(tip_amount)) DESC
         Sort Method: top-N heapsort  Memory: 25kB
         ->  HashAggregate  (cost=139444.98..161512.98 rows=722526 width=16) (actual time=519.960..520.034 rows=30 loops=1)
               Group Key: date_trunc('day'::text, tpep_pickup_datetime)
               Planned Partitions: 32  Batches: 1  Memory Usage: 793kB
               ->  Seq Scan on yellow_taxi_trips  (cost=0.00..53926.02 rows=1334930 width=16) (actual time=0.082..379.293 rows=1338558 loops=1)
                     Filter: ((tpep_pickup_datetime >= '2021-01-01'::date) AND (tpep_pickup_datetime <= '2021-01-31'::date))
                     Rows Removed by Filter: 31207
 Planning Time: 0.323 ms
 JIT:
   Functions: 10
   Options: Inlining false, Optimization false, Expressions true, Deforming true
   Timing: Generation 1.071 ms, Inlining 0.000 ms, Optimization 0.370 ms, Emission 6.582 ms, Total 8.023 ms
 Execution Time: 560.260 ms
(16 rows)

In [10]:
!PGPASSWORD=stefan psql -h localhost -p 5432 -U stefan -d ny_taxi -c "EXPLAIN ANALYZE SELECT DATE_TRUNC ('day', tpep_pickup_datetime) AS d, max(tip_amount) as max_tip FROM public.yellow_taxi_trips WHERE tpep_pickup_datetime BETWEEN '2021-01-01'::DATE AND '2021-01-31'::DATE GROUP BY d HAVING max(tip_amount)=(SELECT max(tip_amount) as max_tip FROM public.yellow_taxi_trips WHERE tpep_pickup_datetime BETWEEN '2021-01-01'::DATE AND '2021-01-31'::DATE)"

                                                                                   QUERY PLAN
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 HashAggregate  (cost=183776.21..205853.24 rows=3613 width=16) (actual time=640.283..645.468 rows=1 loops=1)
   Group Key: date_trunc('day'::text, yellow_taxi_trips.tpep_pickup_datetime)
   Filter: (max(yellow_taxi_trips.tip_amount) = $1)
   Planned Partitions: 32  Batches: 1  Memory Usage: 793kB
   Rows Removed by Filter: 29
   InitPlan 1 (returns $1)
     ->  Finalize Aggregate  (cost=40993.89..40993.90 rows=1 width=8) (actual time=115.471..120.615 rows=1 loops=1)
           ->  Gather  (cost=40993.68..40993.89 rows=2 width=8) (actual time=115.206..120.603 rows=3 loops=1)
                 Workers Planned: 2
                 Workers Launched: 2
                 ->  Partial Aggregate  (cost=39993.68..39993.69 rows=1 width=8) (actual time=95.570..95.573 rows=1 loops=3)
                       ->  Parallel Seq Scan on yellow_taxi_trips yellow_taxi_trips_1  (cost=0.00..38603.12 rows=556221 width=8) (actual time=3.307..55.999 rows=446186 loops=3)
                             Filter: ((tpep_pickup_datetime >= '2021-01-01'::date) AND (tpep_pickup_datetime <= '2021-01-31'::date))
                             Rows Removed by Filter: 10402
   ->  Seq Scan on yellow_taxi_trips  (cost=0.00..53926.02 rows=1334930 width=16) (actual time=11.259..380.606 rows=1338558 loops=1)
         Filter: ((tpep_pickup_datetime >= '2021-01-01'::date) AND (tpep_pickup_datetime <= '2021-01-31'::date))
         Rows Removed by Filter: 31207
 Planning Time: 0.623 ms
 JIT:
   Functions: 27
   Options: Inlining false, Optimization false, Expressions true, Deforming true
   Timing: Generation 2.903 ms, Inlining 0.000 ms, Optimization 1.327 ms, Emission 19.088 ms, Total 23.318 ms
 Execution Time: 675.118 ms
(23 rows)