In [21]:
import pandas as pd
from sqlalchemy import create_engine
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [22]:
engine = create_engine('postgresql://postgres:postgres@localhost:5442/ny_taxi')

### Question 1: Google Cloud SDK version

Google Cloud SDK 407.0.0

### Question 2: Terraform Output

```
Initializing the backend...

Initializing provider plugins...
- Reusing previous version of hashicorp/google from the dependency lock file
- Using previously-installed hashicorp/google v4.41.0

Terraform has been successfully initialized!

You may now begin working with Terraform. Try running "terraform plan" to see
any changes that are required for your infrastructure. All Terraform commands
should now work.

If you ever set or change modules or backend configuration for Terraform,
rerun this command to reinitialize your working directory. If you forget, other
commands will detect it and remind you to do so if necessary.
PS C:\Users\Loka\data-engineering-zoomcamp\week_1_basics_n_setup\1_terraform_gcp\terraform> terraform plan
var.project
  Your GCP Project ID

  Enter a value: festive-dolphin-366719


Terraform used the selected providers to generate the following execution plan. Resource actions are indicated with the following symbols:
  + create

Terraform will perform the following actions:

  # google_bigquery_dataset.dataset will be created
  + resource "google_bigquery_dataset" "dataset" {
      + creation_time              = (known after apply)
      + dataset_id                 = "trips_data_all"
      + delete_contents_on_destroy = false
      + etag                       = (known after apply)
      + id                         = (known after apply)
      + last_modified_time         = (known after apply)
      + location                   = "europe-west6"
      + project                    = "festive-dolphin-366719"
      + self_link                  = (known after apply)

      + access {
          + domain         = (known after apply)
          + group_by_email = (known after apply)
          + role           = (known after apply)
          + special_group  = (known after apply)
          + user_by_email  = (known after apply)

          + dataset {
              + target_types = (known after apply)

              + dataset {
                  + dataset_id = (known after apply)
                  + project_id = (known after apply)
                }
            }

          + view {
              + dataset_id = (known after apply)
              + project_id = (known after apply)
              + table_id   = (known after apply)
            }
        }
    }

  # google_storage_bucket.data-lake-bucket will be created
  + resource "google_storage_bucket" "data-lake-bucket" {
      + force_destroy               = true
      + id                          = (known after apply)
      + location                    = "EUROPE-WEST6"
      + name                        = "dtc_data_lake_festive-dolphin-366719"
      + project                     = (known after apply)
      + self_link                   = (known after apply)
      + storage_class               = "STANDARD"
      + uniform_bucket_level_access = true
      + url                         = (known after apply)

      + lifecycle_rule {
          + action {
              + type = "Delete"
            }

          + condition {
              + age                   = 30
              + matches_prefix        = []
              + matches_storage_class = []
              + matches_suffix        = []
              + with_state            = (known after apply)
            }
        }

      + versioning {
          + enabled = true
        }
    }

Plan: 2 to add, 0 to change, 0 to destroy.

───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Note: You didn't use the -out option to save this plan, so Terraform can't guarantee to take exactly these actions if you run "terraform apply" now.
PS C:\Users\Loka\data-engineering-zoomcamp\week_1_basics_n_setup\1_terraform_gcp\terraform> terraform apply
var.project
  Your GCP Project ID

  Enter a value: festive-dolphin-366719


Terraform used the selected providers to generate the following execution plan. Resource actions are indicated with the following symbols:
  + create

Terraform will perform the following actions:

  # google_bigquery_dataset.dataset will be created
  + resource "google_bigquery_dataset" "dataset" {
      + creation_time              = (known after apply)
      + dataset_id                 = "trips_data_all"
      + delete_contents_on_destroy = false
      + etag                       = (known after apply)
      + id                         = (known after apply)
      + last_modified_time         = (known after apply)
      + location                   = "europe-west6"
      + project                    = "festive-dolphin-366719"
      + self_link                  = (known after apply)

      + access {
          + domain         = (known after apply)
          + group_by_email = (known after apply)
          + role           = (known after apply)
          + special_group  = (known after apply)
          + user_by_email  = (known after apply)

          + dataset {
              + target_types = (known after apply)

              + dataset {
                  + dataset_id = (known after apply)
                  + project_id = (known after apply)
                }
            }

          + view {
              + dataset_id = (known after apply)
              + project_id = (known after apply)
              + table_id   = (known after apply)
            }
        }
    }

  # google_storage_bucket.data-lake-bucket will be created
  + resource "google_storage_bucket" "data-lake-bucket" {
      + force_destroy               = true
      + id                          = (known after apply)
      + location                    = "EUROPE-WEST6"
      + name                        = "dtc_data_lake_festive-dolphin-366719"
      + project                     = (known after apply)
      + self_link                   = (known after apply)
      + storage_class               = "STANDARD"
      + uniform_bucket_level_access = true
      + url                         = (known after apply)

      + lifecycle_rule {
          + action {
              + type = "Delete"
            }

          + condition {
              + age                   = 30
              + matches_prefix        = []
              + matches_storage_class = []
              + matches_suffix        = []
              + with_state            = (known after apply)
            }
        }

      + versioning {
          + enabled = true
        }
    }

Plan: 2 to add, 0 to change, 0 to destroy.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter a value: yes

google_bigquery_dataset.dataset: Creating...
google_storage_bucket.data-lake-bucket: Creating...
google_storage_bucket.data-lake-bucket: Creation complete after 1s [id=dtc_data_lake_festive-dolphin-366719]
google_bigquery_dataset.dataset: Creation complete after 1s [id=projects/festive-dolphin-366719/datasets/trips_data_all]

Apply complete! Resources: 2 added, 0 changed, 0 destroyed.
```

### Question 3: How many taxi trips were there on January 15?

In [36]:
pd.read_sql(
"""
SELECT COUNT(*)
FROM   ny_taxi nt
WHERE  nt.tpep_pickup_datetime::DATE = '2021-01-15'::DATE; 
""", engine)

   count
0  53024

### Question 4: Find the largest tip for each day. On which day it was the largest tip in January?

In [37]:
pd.read_sql(
"""
SELECT   nt.TPEP_PICKUP_DATETIME::DATE AS pickup_date, 
         MAX(nt.tip_amount) AS max_tip
FROM     ny_taxi nt
WHERE    nt.TPEP_PICKUP_DATETIME::DATE BETWEEN '2021-01-01'::DATE AND '2021-01-31'::DATE
GROUP BY nt.TPEP_PICKUP_DATETIME::DATE
ORDER BY max(nt.tip_amount) DESC
LIMIT 5;
""", engine)

  pickup_date  max_tip
0  2021-01-20  1140.44
1  2021-01-04   696.48
2  2021-01-03   369.40
3  2021-01-26   250.00
4  2021-01-09   230.00

### Question 5: What was the most popular destination for passengers picked up in central park on January 14?

In [38]:
pd.read_sql(
"""
SELECT   COALESCE(z1.zone,'UNKNOWN') AS src_zone,
         COALESCE(z2.zone, 'UNKNOWN') AS dest_zone,
         COUNT(z2.zone)
FROM     ny_taxi nt
JOIN     zones z1
ON       nt.pulocationid = z1.locationid
JOIN     zones z2
ON       nt.dolocationid = z2.locationid
WHERE    z1.zone = 'Central Park'
AND      nt.TPEP_PICKUP_DATETIME::DATE ='2021-01-14'::DATE
GROUP BY z1.zone,
         z2.zone
ORDER BY count(z2.zone) DESC
LIMIT 5;
""", engine)

       src_zone              dest_zone  count
0  Central Park  Upper East Side South     97
1  Central Park  Upper East Side North     94
2  Central Park    Lincoln Square East     83
3  Central Park  Upper West Side North     68
4  Central Park  Upper West Side South     60

### Question 6: What's the pickup-dropoff pair with the largest average price for a ride (calculated based on total_amount)?

In [39]:
pd.read_sql(
"""
SELECT CONCAT(COALESCE(z1.zone, 'UNKNOWN'), '/', COALESCE(z2.zone, 'UNKNOWN')) as trip, AVG(nt.total_amount) as avg_price
FROM   ny_taxi nt
       LEFT JOIN zones z1
              ON nt.pulocationid = z1.locationid
       LEFT JOIN zones z2
              ON nt.dolocationid = z2.locationid
GROUP  BY z1.zone,
          z2.zone
ORDER  BY AVG(nt.total_amount) DESC
LIMIT 5; 
""", engine)

                                          trip  avg_price
0                        Alphabet City/UNKNOWN   2292.400
1                            Union Sq/Canarsie    262.852
2                           Ocean Hill/UNKNOWN    234.510
3  Long Island City/Hunters Point/Clinton East    207.610
4                         Boerum Hill/Woodside    200.300