In [1]:
import pandas as pd

In [8]:
!curl -sSL https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2020-01.parquet --output local.parquet

In [9]:
df = pd.read_parquet("local.parquet")

In [10]:
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2020-01-01 00:30:00,2020-01-01 01:44:00,264.0,264.0,None,B00001
1,B00001,2020-01-01 00:30:00,2020-01-01 00:47:00,264.0,264.0,None,B00001
2,B00009,2020-01-01 00:48:00,2020-01-01 01:19:00,264.0,264.0,None,B00009
3,B00009,2020-01-01 00:34:00,2020-01-01 00:43:00,264.0,264.0,None,B00009
4,B00009,2020-01-01 00:23:00,2020-01-01 00:32:00,264.0,264.0,None,B00009

In [8]:
df.pickup_datetime = pd.to_datetime(df.pickup_datetime)
df.dropOff_datetime = pd.to_datetime(df.dropOff_datetime)

In [15]:
df = pd.read_parquet("raw_output_2019-06.parquet")

In [16]:
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00013,2019-06-01 00:51:33,2019-06-01 01:20:07,264,264,None,B00013
1,B00013,2019-06-01 00:53:05,2019-06-01 01:09:38,264,264,None,B00013
2,B00013,2019-06-01 00:23:41,2019-06-01 00:56:29,264,264,None,B00013
3,B00013,2019-06-01 00:18:01,2019-06-01 00:19:48,264,264,None,B00013
4,B00014,2019-06-01 00:02:31,2019-06-01 00:16:03,264,264,None,B00014