In [14]:
import pandas as pd

In [15]:
!wget https://data.gharchive.org/2015-01-01-15.json.gz

--2023-01-14 21:08:51--  https://data.gharchive.org/2015-01-01-15.json.gz
Resolving data.gharchive.org (data.gharchive.org)... 104.21.46.175, 172.67.168.206
Connecting to data.gharchive.org (data.gharchive.org)|104.21.46.175|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3844072 (3.7M) [application/gzip]
Saving to: ‘2015-01-01-15.json.gz’

2015-01-01-15.json. 100%[===================>]   3.67M  9.57MB/s    in 0.4s

2023-01-14 21:08:52 (9.57 MB/s) - ‘2015-01-01-15.json.gz’ saved [3844072/3844072]

In [23]:
!wget 'https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/HG7NV7/TUYWU3'

--2023-01-14 21:36:20--  https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/HG7NV7/TUYWU3
Resolving dataverse.harvard.edu (dataverse.harvard.edu)... 54.173.250.129, 54.208.233.181, 3.234.109.197
Connecting to dataverse.harvard.edu (dataverse.harvard.edu)|54.173.250.129|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://dvn-cloud.s3.amazonaws.com/1902.1/12012/17069?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%271988.csv.bz2&response-content-type=application%2Foctet-stream&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230114T203621Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=AKIAIEJ3NV7UYCSRJC7A%2F20230114%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=f10259b1040259964826e6a3ba7cc2a3b378e66008ef6966642d9a4e93f7ea6f [following]
--2023-01-14 21:36:21--  https://dvn-cloud.s3.amazonaws.com/1902.1/12012/17069?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%271988.csv.bz2&response-content-type=application%2Foctet-stream&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230114T203621Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=AKIAIEJ3NV7UYCSRJC7A%2F20230114%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=f10259b1040259964826e6a3ba7cc2a3b378e66008ef6966642d9a4e93f7ea6f
Resolving dvn-cloud.s3.amazonaws.com (dvn-cloud.s3.amazonaws.com)... 52.217.84.164, 3.5.0.110, 52.217.235.241, ...
Connecting to dvn-cloud.s3.amazonaws.com (dvn-cloud.s3.amazonaws.com)|52.217.84.164|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 49499025 (47M) [application/octet-stream]
Saving to: ‘:persistentId?persistentId=doi:10.7910%2FDVN%2FHG7NV7%2FTUYWU3’

:persistentId?persi 100%[===================>]  47.21M  2.94MB/s    in 12s

2023-01-14 21:36:33 (3.99 MB/s) - ‘:persistentId?persistentId=doi:10.7910%2FDVN%2FHG7NV7%2FTUYWU3’ saved [49499025/49499025]

In [18]:
df = pd.read_csv("~/Downloads/2008.csv.bz2")

In [19]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,...,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,2009.0,2015,2136.0,2140,WN,3841,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,903.0,855,1203.0,1205,WN,3,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1423.0,1400,1726.0,1710,WN,25,...,6.0,10.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0